<!--

    La pagina deve contenere (dall'alto verso il basso):
        Informazioni sull'account (nome,cognome,carte (non bancarie) associate,ecc.)

        Bottone o testo editabile (fate come volete) vicino ad informazioni carta per la modifica dell'informazione

        Bottone per effettuare un nuovo ordine

        Lista degli ordini con relativo stato

    Inoltre in una qualunque parte della pagina prevedere un bottone per il logout.
        Il bottone deve eliminare il cookie per il login e rimandare alla pagina principale

-->

<h1> Account page</h1>