<!--

    Pagina per effettuare gli ordini

    Deve prevedere:

        Una sezione per ogni azienda in cui devono essere presenti:

            Piccola immagine del logo dell'azienda

            Composizioni selezionabili (con relativo prezzo)

        Carrello a destra con:
            Elenco riepilogativo (con prezzo finale)
            Tasto per confermare

        Un tasto per tornare indietro (deve ritornare alla pagina di account)

-->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="carrello spesa" src="IMMAGINE/carrello.jpg" alt="Immagine carrello" title="carrello">



</form>
</body>
</html>