img.titolo{
    display: block;
    margin: auto;
    position: center;
}



body{
    background-color: #8B0000;
}

form{
    width: 300px;
    margin:auto;


}
a:active { color: #ffd700; }
a:visited { color: #daa520; }
a:hover{color: #ffd700; }