
.bg-success {
    --bs-bg-opacity: 1;
    background-color: #8B0000 !important;
}



@media (max-width: 760px) {

    .con{
        display: block;
    }
    .progress{

        width: 330%;
        margin-top:4%;
        margin-right: 23%;
    }

    .ms-2{
        font-size: small;
    }
    h4{
        font-size: medium;
    }
    div.id2{

        margin-left:280px;
        margin-top: -60px;


    }
    div.id3{


        margin-top: 60px;
        margin-left: 0px;

    }

    div.id4{

        margin-top: -60px;
        margin-left: 280px;



    }
    div.bottone1{
        margin-left: 70px;


    }

    div.bottone3{
        margin-top: 80px;
        margin-left: -239px;
    }
    div.bottone4{
        margin-top: 80px;
    }
}




.progress{

    width: 390%;
    margin-top:4%;
    margin-right: 23%;

}


b{
    color: #8B0000;
}


.id2{

    margin-left:300px;
    margin-top: -75px;


}

.id3{

    margin-left:600px;
    margin-top: -75px;


}

.id4{

    margin-left:900px;
    margin-top: -75px;


}




div.bottone4{
    margin-right: 60%;


}

.pulsante1{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: solid 2px deepskyblue;
    background: dodgerblue;
    margin-right: 95%;

}
.pulsante2{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: solid 2px white;
    background: darkorange;
    margin-right: 95%;

}
.pulsante3{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: solid 2px white;
    background: orangered;
    margin-right: 95%;

}
.pulsante4{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: solid 2px white;
    background: #8B0000;
    margin-right: 95%;

}