

.bg-success {
    --bs-bg-opacity: 1;
    background-color: #8B0000 !important;
}



@media (max-width: 760px) {

    .con{
        display: block;
    }
    .progress{

        width: 330%;
        margin-top:4%;
        margin-right: 23%;
    }

    .ms-2{
        font-size: small;
    }
    h4{
        font-size: medium;
    }
    div.id2{

        margin-left:280px;
        margin-top: -60px;


    }
    div.id3{


        margin-top: 60px;
        margin-left: 0px;

    }

    div.id4{

        margin-top: -60px;
        margin-left: 280px;



    }
    #ImmLogo{
        display: none;
    }
    .text-box{
        text-align: center;
    }
    .text-box p{
        font-size: 15px;
    }
    #contatti h5{
        font-size: medium;
    }
    div.col{
        margin-top: 30px;
    }
}




.progress{

    width: 390%;
    margin-top:4%;
    margin-right: 23%;

}


b{
    color: #8B0000;
}

.id2{

    margin-left:300px;
    margin-top: -75px;


}

.id3{

    margin-left:600px;
    margin-top: -75px;


}

.id4{

    margin-left:900px;
    margin-top: -75px;


}
#ImmLogo{
    width: 120px;
    height: 100px;
    border-radius: 50%;
}

.text-box{
    margin-left: 10%;
    margin-top: -5%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}
.text-box h1{
    font-size: 55px;
    color: silver;
}

#contatti {
    margin-top: 19.1%;
}

