.bg-success {
    --bs-bg-opacity: 1;
    background-color: #8B0000 !important;
}
.fw-bold{
    color: #8B0000;
}
#ImmLogo{
    width:120px;
    height:100px;
    border-radius: 50%;
}
#pulsante{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: solid 1px #8B0000;
    background: #8B0000;
    margin-right: 95%;

}
#tabella1{
    border-radius: 10px 10px 10px 10px;
    width: 50%;
}
#tabella2{
    border-radius: 10px 10px 10px 10px;
    width: 50%;
    margin-left: 50%;
    margin-top: -13%;
}
div.h4{
    text-align: center;}

#imm{
    border-radius:50%;
    width:120px;
    height: 120px;
    margin-left: 46%;
}

.text-box{
    margin-left: 10%;
    margin-top: -5%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}
.text-box h1{
    font-size: 55px;
    color: silver;
}

#contatti{
    margin-top: 6.3%;
}


@media (max-width: 760px){
    #ImmLogo{
        display: none;
    }
    .text-box{
        text-align: center;
    }
    .text-box p{
        font-size: 15px;
    }

    #tabella1{
        width: 100%;
    }
    #tabella2{
        width: 100%;
        margin-left: 0%;
    }

    #pulsante{
        margin-left: 0%;
        width: 25%;
    }
    #imm{
        margin-left: 0px;
        width: 100px;
        height: 100px;
    }
    #contatti h5{
        font-size: medium;
    }

}